/*CSS Document*/
body{margin:0px; padding:0px; background:#414141}
#header{ width :100% ;
         padding:10px 10px 10px 10px;
         margin: 10px 10px 10px 10px;
         color:  white;
         text-align: center}
#loginposition { position:absolute; visibility:show; left: 1100px; top: 20px; z-index:2; } 
/*Top Panels*/
#topContentWrap{
    width:100%; 
    margin:0px; 
    padding:0px; 
    float:left; 
    background:#fff url(images/brick.jpg) repeat-x
}
#topContentWrap{
    bodyheight: 1000px
}
#topContent{
    width:928px;
    margin:0 auto;
    padding:0px;
}
#logoPanel{
    width:75px; 
    height:740px; 
    margin:0px; 
    padding:0px;
    float:left; 
    text-indent:-9999px;
    background:url() no-repeat;
}
#logoPanel h1{
    width:75px;
    height:740px; 
    margin:0px; 
    padding:0px;
    float:left;
    text-indent:-9999px;
}
#livingSpaces{
    width:216px; 
    height:715px;
    margin:0px; 
    padding:0px; 
    float:left; 
    background:#cd4007 url(images/ls.jpg) no-repeat -77px -494px}

#house{
	width:47px; 
	height:110px; 
	margin:0px; 
	padding:0 0 0 169px;
	float:left
}
#house a{
	width:47px; 
	height:36px;
	margin:0px; 
	padding:56px 0 0 0; 
	float:left; 
	font-family:Arial; 
	font-size:12px; 
	font-weight:bold; 
	color:#646464; 
	line-height:13px; 
	text-align:center; 
	text-decoration:none; 
	background:url(images/homeBg.gif) no-repeat
}
#house a:hover{
	height:36px; 
	padding:74px 0 0 0; 
	background:url(images/homeBg.gif) no-repeat -48px 0
}

/*LS Panel*/
#livingSpaces h2{
	width:170px;
	margin:199px 0 0 0; 
	padding:0 0 0 24px; 
	float:left; 
	font-family:Arial;
	font-size:26px;
	color:#400505; 
	line-height:30px;
	font-weight:normal
}
#livingSpaces h3{
	width:170px; 
	margin:8px 0 0 0;
	padding:0 0 0 24px;
	float:left;
	font-family:Arial;
	font-size:12px;
	color:#ffe996; 
	line-height:19px;
	font-weight:bold
}
#livingSpaces p{
	width:170px; 
	margin:20px 0 0 0;
	padding:0 0 0 24px;
	float:left; 
	font-family:Arial;
	font-size:12px;
	color:#f8d85e; 
	line-height:19px
}
#livingSpaces p a{
	color:#f8d85e;
	background:#9f3105;
	text-decoration:none
}
#livingSpaces p a:hover{background:#812a08}
#livingSpaces .read{
	width:62px; 
	height:23px; 
	margin:0px;
	padding:0 0 0 131px; 
	float:left
}
#livingSpaces .read a{
	width:62px; 
	height:23px;
	margin:0px;
	padding:0px;
	float:left; 
	font-family:Arial;
	font-size:11px; 
	color:#d9d9d9;
	line-height:20px; 
	text-align:center;
	text-decoration:none;
	background:url(images/buttons.jpg) no-repeat
}
#livingSpaces .read a:hover{color:#cd4007}
#bookPanel{
	width:216px;
	height:715px;
	margin:0px;
	padding:0px;
	float:left;
	border-left:#f3f1d2 solid 1px;
	background:#f7a474 url(images/books.jpg) no-repeat -294px -494px
}
#book{
	width:47px;
	height:110px;
	margin:0px;
	padding:0 0 0 169px;
	float:left
}
#book a{
	width:47px;
	height:36px;
	margin:0px;
	padding:56px 0 0 0;
	float:left;
	font-family:Arial; 
	font-size:12px;
	font-weight:bold; 
	color:#646464;
	line-height:13px;
	text-align:center;
	text-decoration:none;
	background:url(images/bkButton.gif) no-repeat
}
#book a:hover{
	height:36px;
	padding:74px 0 0 0;
	background:url(images/bkButton.gif) no-repeat -48px 0
}

/*Book Panel*/
#bookPanel h2{
	width:170px; 
	margin:199px 0 0 0;
	padding:0 0 0 24px;
	float:left;
	font-family:Arial; 
	font-size:26px;
	color:#400505; 
	line-height:30px;
	font-weight:normal
}
#bookPanel h3{
	width:170px; 
	margin:8px 0 0 0; 
	padding:0 0 0 24px;
	float:left;
	font-family:Arial;
	font-size:12px;
	color:#400505;
	line-height:19px;
	font-weight:bold
}
#bookPanel ul{
	width:170px; 
	margin:8px 0 0 0;
	padding:0 0 0 24px; 
	float:left; 
	display:block
}
#bookPanel ul li{
	width:170px;
	margin:3px 0 0 0;
	padding:0 0 14px 0;
	float:left;
	display:block
}
#bookPanel ul li h2{
	width:170px; 
	margin:0px;
	padding:0px; 
	float:left; 
	font-family:Arial; 
	font-size:12px;
	color:#400505; 
	line-height:14px;
	font-weight:bold
}
#bookPanel ul li p{
	width:170px; 
	margin:5px 0 0 0;
	padding:0px; 
	float:left; 
	font-family:Arial;
	font-size:12px;
	color:#400505;
	line-height:19px
}
#bookPanel ul li p a{
	font-size:12px;
	color:#400505;
	float:none; 
	background:#fbfcf4
}
#bookPanel ul li p a:hover{
	color:#f2ff9a;
	background:#525d08
}
#bookPanel ul li a{
	width:62px; 
	height:23px; 
	margin:14px 0 0 0; 
	padding:0px;
	float:right;
	font-family:Arial;
	font-size:11px; 
	color:#400505; 
	line-height:20px;
	text-align:center;
	text-decoration:none; 
	background:url(images/buttons.jpg) no-repeat -62px 0
}
#bookPanel .read{
	width:62px;
	height:23px;
	margin:0px;
	padding:0 0 0 131px;
	float:left
}
#bookPanel .read a{
	width:62px; 
	height:23px;
	margin:0px;
	padding:0px;
	float:left;
	font-family:Arial;
	font-size:11px;
	color:#d9d9d9;
	line-height:20px;
	text-align:center;
	text-decoration:none;
	background:url(images/buttons.jpg) no-repeat
}
#bookPanel .read a:hover{color:#cd4007}
#bookPanel ul li a:hover{color:#9fb31a}

/**/
#rightPanel{
	width:500px; 
	margin:0px; 
	padding:0 0 0 20px;
	float:left;
	background: url() no-repeat
}
#menu{
	width:191px;
	margin:22px 0 0 0;
	padding:0 34px 0 0; 
	float:left
}
#menu ul{
	width:191px;
	margin:0px; 
	padding:0px; 
	float:left;
	display:block
}
#menu ul li{
	width:191px;
	margin:0px;
	padding:0px;
	float:left; 
	display:block
}
#menu ul li a{
	width:176px;
	height:24px; 
	margin:0px;
	padding:0 0 0 15px; 
	float:left;
	font-family:Arial;
	font-size:12px;
	color:#636038;
	line-height:22px;
	font-weight:bold; 
	text-decoration:none; 
	border-bottom:#b1ae7e dotted 1px; 
	background:url(images/liststyle.jpg) no-repeat 0 7px
}
#menu ul li a:hover{color:#75850e}
#menu ul li a.bottom{
	width:176px;
	height:24px;
	margin:0px;
	padding:0 0 0 15px; 
	float:left; 
	font-family:Arial;
	font-size:12px;
	color:#636038;
	line-height:22px;
	font-weight:bold;
	text-decoration:none;
	border-bottom:0px; 
	background:url(images/liststyle.jpg) no-repeat 0 7px
}
#menu ul li a.bottom:hover{color:#9fb31a}
#addBlock{
	width:171px;
	height:195px; 
	margin:22px 0 0 0;
	padding:0px;
	float:left; 
	background:url(images/paper.jpg) no-repeat -337px -110px
}
#rightPanel h2{
	width:343px; 
	height:44px; 
	margin:29px 0 0 0;
	padding:0 0 0 57px;
	float:left;
	font-family:Arial; 
	font-size:34px;
	color:#cb3e07; 
	line-height:40px; 
	font-weight:normal; 
	background:url(images/globalpic.jpg) no-repeat -467px -308px
}
#additionalLinks{
	width:400px; 
	margin:0px;
	padding:0px;
	float:left
}
#additionalLinks ul{
	width:400px; 
	margin:12px 0 0 0;
	padding:0px;
	float:left;
	display:block
}
#additionalLinks ul li{
	width:400px;
	margin:0px;
	padding:0px;
	float:left;
	display:block
}
#additionalLinks ul li a{
	width:371px; 
	height:27px;
	margin:3px 0 0 0;
	padding:0 0 0 27px; 
	float:left;
	font-family:Arial;
	font-size:12px;
	color:#3b3a2b;
	line-height:25px;
	text-decoration:none; 
	background:url(images/paper.jpg) no-repeat -75px -83px
}
#additionalLinks ul li a:hover{color:#9fb31a}
#iconLinks{
	width:400px;
	height:101px; 
	margin:25px 0 0 0;
	padding:0px; 
	float:left
}
#iconLinks .ideas{
	width:78px;
	height:51px; 
	margin:0px;
	padding:50px 0 0 49px;
	float:left; 
	font-family:Arial; 
	font-size:10px; 
	color:#a8a8a8; 
	line-height:14px;
	text-decoration:none;
	background:url(images/paper.jpg) no-repeat -77px -392px
}
#iconLinks .blank{
	width:9px;
	height:101px;
	margin:0px;
	padding:0px; 
	float:left
}
#iconLinks .signup{
	width:78px; 
	height:51px; 
	margin:0px; 
	padding:50px 0 0 49px; 
	float:left;
	font-family:Arial;
	font-size:10px;
	color:#a8a8a8;
	line-height:14px; 
	text-decoration:none;
	background:url(images/paper.jpg) no-repeat -204px -392px
}
#iconLinks .blog{
	width:78px; 
	height:51px;
	margin:0px;
	padding:50px 0 0 49px; 
	float:left; 
	font-family:Arial; 
	font-size:10px; 
	color:#a8a8a8;
	line-height:14px;
	text-decoration:none;
	background:url(images/paper.jpg) no-repeat -331px -392px
}
#middleWrap{
	width:100%;
	margin:0px;
	padding:0px; 
	float:left; 
	background:#FFFFFF
}
#middlePanel{
	width:928px; 
	margin:0 auto;
	padding:0px
}
#middlePanel .left{
	width:473px; 
	margin:0px; 
	padding:0 31px 34px 26px;
	float:left
}
#middlePanel .left h2{
	width:423px; 
	height:38px;
	margin:24px 0 0 0;
	padding:0 0 0 50px;
	float:left;
	font-family:Arial;
	font-size:34px; 
	color:#1d1d1d;
	line-height:38px; 
	font-weight:normal; 
	background:url(images/brick.jpg) no-repeat -474px -357px
}
#middlePanel .left p{
	width:470px; 
	margin:9px 0 0 0; 
	padding:0px;
	float:left;
	font-family:Arial; 
	font-size:12px;
	color:#575433;
	line-height:19px
}
#middlePanel .left p span{font-weight:bold; color:#8da00d}
#middlePanel .left a{
	width:62px;
	height:23px;
	margin:7px 0 0 0;
	padding:0px; 
	float:right; 
	font-family:Arial; 
	font-size:11px;
	color:#FFFFFF;
	line-height:22px; 
	text-align:center; 
	text-decoration:none;
	background:url(images/brick.jpg) no-repeat -117px -226px
}
#loginPanel{
	width:202px; 
	height:184px; 
	margin:19px 0 0 0; 
	padding:0px; 
	float:left; 
	border:#d7d3aa solid 1px;
	background:#f1eed0
}
#loginPanel h2{
	width:169px;
	height:34px; 
	margin:0px;
	padding:0 0 0 33px;
	float:left; 
	font-family:Arial;
	font-size:18px; 
	color:#212121;
	line-height:30px; 
	font-weight:normal;
	background:#ffffff url(images/brick.jpg) no-repeat -483px -399px
}
#loginPanel h3{
	width:168px;
	margin:8px 0 0 0;
	padding:0 17px 0 17px; 
	float:left; 
	font-family:Arial;
	font-size:10px; 
	color:#1d1d1d; 
	line-height:14px; 
	font-weight:normal
}
#loginPanel input{
	width:167px; 
	height:18px; 
	margin:3px 0 0 0;
	padding:3px 0 0 0; 
	float:left;
	font-family:Arial;
	font-size:10px; 
	color:#212121;
	line-height:14px
}
#loginPanel .blank{
	width:17px; 
	height:10px; 
	margin:0px;
	padding:0px;
	float:left
}
#loginPanel p{
	width:127px; 
	margin:9px 0 0 0;
	padding:0 0 0 17px;
	float:left
}
#loginPanel p a{
	font-family:Arial; 
	font-size:12px;
	color:#9fb31a;
	font-weight:bold;
	line-height:16px;
	text-decoration:none;
}
#loginPanel .login{
	width:41px;
	height:23px; 
	margin:6px 0 0 0;
	padding:0px; 
	float:left;
	font-family:Arial;
	font-size:11px;
	color:#FFFFFF; 
	line-height:20px; 
	text-align:center;
	text-decoration:none;
	background:url(images/globalpic.jpg) no-repeat -180px -226px
}
#contact{
	width:175px;
	height:107px;
	margin:21px 0 0 0;
	padding:0px;
	float:left; 
	background:url(images/globalpic.jpg) no-repeat -75px -111px
}
#contact p{
	font-family:"Arial Narrow";
	font-size:26px;
	color:#252525; 
	line-height:30px; 
	margin:10px 0 0 0;
	padding:0 0 0 28px
}
#gap{
	width:19px;
	height:10px;
	margin:0px;
	padding:0px; 
	float:left
}
#footWrap{
	width:100%; 
	margin:0px;
	padding:0 0 23px 0;
	float:left;
	background:url(images/footbg.jpg) repeat-x
}
#footPanel{
	width:928px;
	margin:0 auto;
	padding:0px
}
#footNav{
	width:928px; 
	margin:25px 0 0 0;
	padding:0px;
	float:left
}
#footNav ul{
	width:655px;
	margin:0 auto;
	padding:0px;
	display:block
}
#footNav ul li{
	width:auto; 
	margin:20px;
	padding:0px; 
	float:left; 
	display:block
}
#footNav ul li .blank{
	width:auto;
	margin:3px 0 0 0; 
	padding:0 7px 0 7px;
	float:left; 
	font-family:Arial;
	font-size:11px; 
	color:#d5d5d5;
	line-height:15px
}
#footNav ul li a{
	font-family:Arial;
	font-size:11px;
	color:#d5d5d5;
	line-height:15px; 
	text-decoration:none;
	margin:0px;
	padding:0px
}
#copyright{
	width:928px;
	margin:3px 0 0 0;
	padding:0px;
	float:left;
	font-family:Arial;
	font-size:10px;
	color:#9fb31a; 
	line-height:14px;
	text-align:center
}
#footPanel p{
	width:928px; 
	margin:7px 0 0 0;
	padding:0px;
	float:left; 
	font-family:Arial;
	font-size:12px;
	color:#e9e6c3;
	line-height:16px;
	font-weight:bold; 
	text-align:center
}
#footPanel p a{
	color:#FFF;
	background:#252525;
	text-decoration:none
}